html {
  font-size: 1vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (max-width: 63.9375em) {
  html {
    font-size: 14px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #2e3b4d;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

@media (max-width: 39.9375em) {
  body {
    text-align: center;
  }
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  padding: 5rem 0;
}

.section--bg-pale-blue {
  background: #f8fafc;
}

.section--bg-accent {
  background: #ffefd6;
}

.container {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  padding: 0 5rem;
}

@media (max-width: 63.9375em) {
  .container {
    padding: 0 1.5rem;
  }
}

.split-column-wrapper {
  max-width: 66.5rem;
  margin: 0 auto;
}

.split-column-wrapper .split-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 39.9375em) {
  .split-column-wrapper .split-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 5rem;
  }
}

.split-column-wrapper .split-column:last-child {
  margin-bottom: 0;
}

.split-column-wrapper .split-column--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 39.9375em) {
  .split-column-wrapper .split-column--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.split-column-wrapper .split-column .column-one {
  width: 40%;
}

@media (max-width: 39.9375em) {
  .split-column-wrapper .split-column .column-one {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}

.split-column-wrapper .split-column .column-two {
  width: 50%;
}

@media (max-width: 39.9375em) {
  .split-column-wrapper .split-column .column-two {
    width: 100%;
  }
}

.heading-wrapper {
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-d-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button {
  display: inline-block;
  background: #4b7cb4;
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 1.25em 2em;
  border: 0.125rem solid #4b7cb4;
  border-radius: 100vw;
  margin-right: 1.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 39.9375em) {
  .button {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.button:hover {
  background: #123463;
  border-color: #123463;
}

.button--ghost {
  background: transparent;
  color: #4b7cb4;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.button--ghost:hover {
  background: #ebebeb;
}

.button--orange {
  background: #ffb647;
  border-color: #ffb647;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.button--orange:hover {
  background: #ffa51f;
  border-color: #ffa51f;
}

.button.m0 {
  margin-bottom: 0;
}

@media (max-width: 39.9375em) {
  .buttons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

h1,
h2 {
  font-size: 2.375rem;
  color: #123463;
  line-height: 1.2;
  text-transform: capitalize;
  max-width: 40rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 63.9375em) {
  h1,
  h2 {
    max-width: 100%;
  }
}

@media (max-width: 39.9375em) {
  h1,
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.375rem;
  color: #123463;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
}

h6 {
  font-size: 1rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #123463;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

p {
  max-width: 34rem;
}

@media (max-width: 39.9375em) {
  p {
    max-width: 100%;
  }
}

.big {
  font-size: 3rem;
}

@media (max-width: 39.9375em) {
  .big {
    font-size: 2rem;
  }
}

.long {
  max-width: 60.25rem;
}

.pale-blue-text {
  color: #4b7cb4;
}

.p0 {
  padding: 0;
}

.mb-8 {
  margin-bottom: 0.5rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.mb-32 {
  margin-bottom: 2rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.mb-64 {
  margin-bottom: 4rem;
}

@media (max-width: 39.9375em) {
  .mb-64 {
    margin-bottom: 2.5rem;
  }
}

.mb-80 {
  margin-bottom: 5rem;
}

@media (max-width: 39.9375em) {
  .mb-80 {
    margin-bottom: 4rem;
  }
}

@media (max-width: 63.9375em) {
  .header {
    background: #ffb647;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 311;
    height: 4rem;
  }
}

.header nav {
  height: 100%;
  padding: 1.5rem 0;
}

@media (max-width: 63.9375em) {
  .header nav {
    padding: 0.8rem 0;
  }
}

.header__logo {
  width: 12rem;
}

@media (max-width: 63.9375em) {
  .header__menu {
    position: absolute;
    top: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #123463;
    border: 0.25rem solid white;
    width: 5rem;
    height: 5rem;
    border-radius: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__menu span {
  display: block;
  width: 2rem;
  height: 0.15rem;
  background: #123463;
}

@media (max-width: 63.9375em) {
  .header__menu span {
    background: white;
  }
}

.header__menu span:not(:last-child) {
  margin-bottom: 0.3rem;
}

.header__menu span:last-child {
  width: 1.2rem;
}

@media (max-width: 63.9375em) {
  .header #nav-links .header__link {
    font-size: 1.5rem;
  }
}

@media (max-width: 63.9375em) {
  .header__links:not(.header__links--contact) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 4rem);
    background: #ffefd6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: -5;
    visibility: hidden;
    opacity: 0;
  }
  .header__links:not(.header__links--contact).open {
    visibility: visible;
    opacity: 1;
  }
}

.header__link-item {
  margin: 0 1.2rem;
}

@media (max-width: 63.9375em) {
  .header__link-item {
    margin: 1.5rem 0;
  }
}

.header__link {
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__link::before {
  content: '';
  position: absolute;
  bottom: -0.75rem;
  left: 0;
  width: 100%;
  height: 0.1875rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__link:hover {
  color: #ffb647;
}

.header__link:hover::before {
  background: #ffb647;
}

@media (max-width: 63.9375em) {
  .header__links--contact {
    width: 100%;
    padding: 0;
    color: white;
  }
}

@media (max-width: 63.9375em) {
  .header__links--contact .header__link-item {
    margin: 0;
  }
  .header__links--contact .header__link-item:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 63.9375em) {
  .header__links--contact .header__link:hover {
    color: #123463;
  }
}

.hero {
  height: 90vh;
  padding-top: 2.5rem;
}

@media (max-width: 39.9375em) {
  .hero {
    height: auto;
  }
}

@media (max-width: 39.9375em) {
  .hero > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero__logo {
  width: 15rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 63.9375em) {
  .hero__logo {
    display: none;
  }
}

@media (max-width: 39.9375em) {
  .hero__logo {
    display: block;
  }
}

.hero__content-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero__image-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 63.9375em) {
  .hero__image-wrapper {
    margin-top: 2.5rem;
  }
}

@media (max-width: 39.9375em) {
  .hero__image-wrapper {
    width: 100%;
  }
}

.sf-you-use .sf-logos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 63.9375em) {
  .sf-you-use .sf-logos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sf-you-use .sf-logos .sf-logo {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 63.9375em) {
  .sf-you-use .sf-logos .sf-logo {
    margin: 2rem;
  }
}

.sf-you-use .sf-logos .sf-logo:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.sf-you-use .sf-logos .sf-logo:nth-child(1) {
  width: 8.75rem;
}

.sf-you-use .sf-logos .sf-logo:nth-child(2) {
  width: 9rem;
}

.sf-you-use .sf-logos .sf-logo:nth-child(3) {
  width: 10.8125rem;
}

.sf-you-use .sf-logos .sf-logo:nth-child(4) {
  width: 8.5rem;
}

.sf-you-use .sf-logos .sf-logo:nth-child(5) {
  width: 12rem;
}

.sf-you-use .sf-logos .sf-logo:nth-child(6) {
  width: 13.6875rem;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 39.9375em) {
  .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 39.9375em) {
  .swiper-button-next {
    display: none;
  }
}

.review__quote {
  margin-bottom: 1rem;
}

.review__profile {
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}

.review__avater {
  width: 5.5rem;
}

.review__name {
  font-size: 1.125rem;
  font-weight: 600;
  color: #4b7cb4;
  font-family: "Montserrat", sans-serif;
}

.review__job {
  font-size: 0.875rem;
  font-weight: 300;
}

.cta .cta-wrapper {
  background: #f8fafc;
  width: 100%;
  padding: 5rem 2.5rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

@media (max-width: 63.9375em) {
  .cta .cta-wrapper::before {
    content: '';
    position: absolute;
    inset: 0;
    background: #f8fafc url("../../images/cta-placeholder-image.png") no-repeat center top;
    background-size: contain;
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
    opacity: 0.2;
    z-index: -1;
  }
}

.cta .cta-wrapper--imageless {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cta__heading {
  max-width: 43.75rem;
}

.cta__heading.long {
  max-width: 60rem;
}

.cta__image {
  position: absolute;
  top: -7rem;
  right: -1rem;
  width: 33.25rem;
}

@media (max-width: 63.9375em) {
  .cta__image {
    display: none;
  }
}

.home-blog__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-blog__card {
  width: 32%;
}

@media (max-width: 63.9375em) {
  .home-blog__card {
    width: 48%;
    margin-bottom: 4rem;
  }
}

@media (max-width: 39.9375em) {
  .home-blog__card {
    width: 100%;
    text-align: left;
  }
}

@media (max-width: 39.9375em) {
  .home-blog__card:last-child {
    margin-bottom: 0;
  }
}

.home-blog__image {
  width: 100%;
  max-height: 18.75rem;
  border-radius: 1rem;
}

.home-blog__sub-heading {
  font-size: 0.875rem;
  font-weight: 300;
  color: #ffb647;
  letter-spacing: 0.15rem;
}

.home-blog__heading {
  font-size: 1.75rem;
  font-weight: 700;
}

.home-blog__button {
  background: transparent;
  border: none;
  color: #2e3b4d;
  padding: 0;
}

.home-blog__button:hover {
  background: white;
  color: #2e3b4d;
}

.contact__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__info-wrapper {
  width: 40%;
  background: #f8fafc;
  border-radius: 1rem;
  padding: 2.5rem;
}

@media (max-width: 39.9375em) {
  .contact__info-wrapper {
    width: 100%;
  }
}

@media (max-width: 39.9375em) {
  .contact__form {
    text-align: left;
  }
}

.contact__info-item:not(:last-child) {
  margin-bottom: 1.5rem;
}

.contact__info-label {
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.5;
  letter-spacing: 0.15rem;
}

.contact__info-info {
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  max-width: 20rem;
}

@media (max-width: 39.9375em) {
  .contact__info-info {
    max-width: 100%;
  }
}

.contact__form-wrapper {
  width: 60%;
  padding: 2.5rem;
}

@media (max-width: 39.9375em) {
  .contact__form-wrapper {
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding-top: 0;
    padding-bottom: 5rem;
  }
}

.contact__form-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form-label {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.contact__form-input {
  height: 3rem;
  background: #f7f7f8;
  border: 0.0625rem solid #e6e8ea;
  border-radius: 0.25rem;
  padding: 0 1.5rem;
  font-size: 0.875rem;
}

@media (max-width: 39.9375em) {
  .contact__button {
    margin: 0 auto;
  }
}

.footer {
  padding: 5rem 0 0;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 2.5rem;
}

.footer__top img {
  width: 12rem;
}

@media (max-width: 39.9375em) {
  .footer__top img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 39.9375em) {
  .footer__column {
    margin-bottom: 2.5rem;
  }
}

.footer__column:nth-child(1) {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

@media (max-width: 39.9375em) {
  .footer__column:nth-child(1) {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    width: 100%;
  }
}

.footer__column:nth-child(2) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

@media (max-width: 39.9375em) {
  .footer__column:nth-child(2) {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    width: 100%;
  }
}

.footer__column:nth-child(3) {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

@media (max-width: 39.9375em) {
  .footer__column:nth-child(3) {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    width: 100%;
  }
}

.footer__column:nth-child(4) {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

@media (max-width: 39.9375em) {
  .footer__column:nth-child(4) {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    width: 100%;
    margin-bottom: 0;
  }
}

.footer__link {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin: 0.25rem 0;
  color: #123463;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.footer__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 39.9375em) {
  .footer__link::before {
    display: none;
  }
}

.footer__link:hover {
  padding-left: 0.4rem;
  color: #ffb647;
}

@media (max-width: 39.9375em) {
  .footer__link:hover {
    padding-left: unset;
  }
}

.footer__link:hover::before {
  width: 0.125rem;
  background: #ffb647;
}

.footer__disclaimer {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.footer__bottom {
  padding: 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 0.0625rem solid #e6e8ea;
}

@media (max-width: 39.9375em) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 7rem;
  }
}

.footer__copy-right,
.footer .find-us-on {
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
}

.footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 11rem;
}

@media (max-width: 39.9375em) {
  .footer__social-links {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 1.5rem;
  }
}

.footer__social-link {
  margin: 0 0.125rem;
}
/*# sourceMappingURL=styles.css.map */