.cta {
  .cta-wrapper {
    background: $clr-brand-bg;
    width: 100%;
    padding: 5rem 2.5rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    z-index: 1;

    @include breakpoints-down(medium) {
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: $clr-brand-bg url('../../images/cta-placeholder-image.png') no-repeat center top;
        background-size: contain;
        transform: scale(1.7);
        opacity: 0.2;
        z-index: -1;
      }
    }

    //delete later if not needed
    &--imageless {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &__heading {
    max-width: 43.75rem;

    &.long {
      max-width: 60rem;
    }
  }

  &__image {
    position: absolute;
    top: -7rem;
    right: -1rem;
    width: 33.25rem;

    @include breakpoints-down(medium) {
      display: none;
    }
  }
}
