.cta {
  .cta-wrapper {
    background: $clr-brand-bg;
    width: 100%;
    padding: 5rem 2.5rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    z-index: 1;

    @include breakpoints-down(medium) {
      background: $clr-brand-dark;
      box-shadow: 0px 6px 39px 9px rgba(18, 52, 99, 0.12);
    }

    //delete later if not needed
    &--imageless {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &__heading {
    max-width: 43.75rem;

    @include breakpoints-down(medium) {
      color: $clr-light;
      font-size: $fs-large;
    }

    &.long {
      max-width: 60rem;
    }
  }

  &__p {
    @include breakpoints-down(medium) {
      color: rgba($clr-light, 0.8);
    }
  }
  &__image {
    position: absolute;
    top: -7rem;
    right: -1rem;
    width: 33.25rem;

    @include breakpoints-down(medium) {
      display: none;
    }
  }
}
