.header {
  @include breakpoints-down(medium) {
    background: $clr-accent;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 311;
    height: 4rem;
  }
  nav {
    height: 100%;
    padding: 1.5rem 0;

    @include breakpoints-down(medium) {
      padding: 0.8rem 0;
    }
  }

  &__logo {
    width: 12rem;
  }

  &__menu {
    @include breakpoints-down(medium) {
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $clr-brand-dark;
      border: 0.25rem solid $clr-light;
      width: 5rem;
      height: 5rem;
      border-radius: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    span {
      font-size: $fs-small;
      color: $clr-light;
    }
  }

  @include breakpoints-down(medium) {
    #nav-links {
      .header__link {
        font-size: $fs-large;
      }
    }
  }

  &__links:not(&__links--contact) {
    @include breakpoints-down(medium) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 4rem);
      background: $clr-accent-bg;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: -5;
      clip-path: circle(0px at 100% 0%);
      transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);

      .header__link-item {
        transform: translateY(20px);
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);

        &:nth-child(1) {
          transition-delay: 0.4s;
        }
        &:nth-child(2) {
          transition-delay: 0.45s;
        }
        &:nth-child(3) {
          transition-delay: 0.5s;
        }
        &:nth-child(4) {
          transition-delay: 0.55s;
        }
        &:nth-child(5) {
          transition-delay: 0.6s;
        }
      }

      &.open {
        clip-path: circle(900px at 100% 0%);

        .header__link-item {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }

  &__link-item {
    margin: 0 1.2rem;

    @include breakpoints-down(medium) {
      margin: 1.5rem 0;
    }
  }

  &__link {
    font-size: $fs-small;
    font-family: $ff-heading;
    font-weight: 600;
    position: relative;
    @include transition-ease-in-out;

    &::before {
      content: '';
      position: absolute;
      bottom: -0.75rem;
      left: 0;
      width: 100%;
      height: 0.1875rem;
      @include transition-ease-in-out;
    }

    &:hover {
      color: $clr-accent;

      &::before {
        background: $clr-accent;
      }
    }
  }

  &__links--contact {
    @include breakpoints-down(medium) {
      width: 100%;
      padding: 0;
      color: $clr-light;
    }
    .header__link-item {
      @include breakpoints-down(medium) {
        margin: 0;

        &:first-child {
          order: 2;
        }
      }
    }

    .header__link {
      @include breakpoints-down(medium) {
        &:hover {
          color: $clr-brand-dark;
        }
      }
    }
  }
}
