.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $clr-light;
  z-index: 311;

  @include breakpoints-down(medium) {
    background: $clr-accent;
    top: unset;
    bottom: 0;
    height: 4rem;
  }
  nav {
    height: 100%;

    @include breakpoints-down(medium) {
      padding: 0.8rem 0;
    }
  }

  &__logo {
    width: 12rem;
  }

  &__menu {
    @include breakpoints-down(medium) {
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $clr-brand-dark;
      border: 0.25rem solid $clr-light;
      width: 5rem;
      height: 5rem;
      border-radius: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 1000;
    }

    span {
      font-size: $fs-small;
      color: $clr-light;
    }
  }

  @include breakpoints-down(medium) {
    #nav-links {
      .header__link {
        font-size: $fs-large;
      }
    }
  }

  &__links:not(&__links--contact) {
    @include breakpoints-down(medium) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 4rem);
      background: $clr-accent-bg;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: -5;
      clip-path: circle(0px at 100% 0%);
      transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);

      .header__link-item {
        transform: translateY(20px);
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);

        &:nth-child(1) {
          transition-delay: 0.4s;
        }
        &:nth-child(2) {
          transition-delay: 0.45s;
        }
        &:nth-child(3) {
          transition-delay: 0.5s;
        }
        &:nth-child(4) {
          transition-delay: 0.55s;
        }
        &:nth-child(5) {
          transition-delay: 0.6s;
        }
      }

      &.open {
        clip-path: circle(900px at 100% 0%);

        .header__link-item {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }

  &__link-item {
    margin: 0 1.2rem;
    padding: 1.5rem 0;

    @include breakpoints-down(medium) {
      margin: 1.5rem 0;
    }

    &:hover > .header__link {
      color: $clr-accent;
    }
  }

  &__link {
    font-size: $fs-small;
    font-family: $ff-heading;
    font-weight: 600;
    position: relative;
    @include transition-ease-in-out;
  }

  &__links--contact {
    @include breakpoints-down(medium) {
      width: 100%;
      padding: 0;
      color: $clr-light;
    }
    .header__link-item {
      @include breakpoints-down(medium) {
        margin: 0;

        &:first-child {
          order: 2;
        }
      }
    }

    .header__link {
      @include breakpoints-down(medium) {
        &:hover {
          color: $clr-brand-dark;
        }
      }
    }
  }
}

//Dropdown
.header__link-item {
  position: relative;
  width: 100%;
  z-index: 900;

  .dropdown {
    position: fixed;
    top: 4.15em;
    left: 0;
    // opacity: 0;
    // visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5rem;
    z-index: 1000;
    background: lighten($clr-off-white, 1%);
    @include transition-ease-in-out;

    @include breakpoints-down(small) {
      position: static;
      width: 100%;
      padding: 0 1.5rem;
      flex-direction: column;
    }

    &__item {
      width: 23%;
      padding: 1.5rem;
      margin: 1em 0;
      transform: translate(0, 0);
      transition: all 0.2s ease;

      &:hover {
        background: $clr-light;
        transform: translate(0.2em, -0.2em);
      }

      @include breakpoints-down(small) {
        width: 100%;
      }
    }

    &__heading,
    &__btn-text {
      font-size: $fs-small;
      text-transform: uppercase;
      color: $clr-brand;
      font-weight: 600;
    }

    &__p {
      font-size: $fs-small;

      @include breakpoints-down(small) {
        display: none;
      }
    }

    &__btn-text {
      @include breakpoints-down(small) {
        display: none;
      }
    }
  }

  //when hover nav link, dropdown will open
  &:hover > .dropdown {
    opacity: 1;
    visibility: unset;
  }
}
