.sf-you-use {
  .sf-logos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    @include breakpoints-down(small) {
      justify-content: space-evenly;
    }

    .sf-logo:nth-child(1) {
      width: 8.75rem;
      @include breakpoints-down(medium) {
        width: 35%;
        margin: 1em 0;
      }
    }
    .sf-logo:nth-child(2) {
      width: 9rem;
      @include breakpoints-down(medium) {
        width: 35%;
        margin: 1em 0;
      }
    }
    .sf-logo:nth-child(3) {
      width: 10.8125rem;
      @include breakpoints-down(medium) {
        width: 35%;
        margin: 1em 0;
      }
    }
    .sf-logo:nth-child(4) {
      width: 8.5rem;
      @include breakpoints-down(medium) {
        width: 35%;
        margin: 1em 0;
      }
    }
    .sf-logo:nth-child(5) {
      width: 12rem;
      @include breakpoints-down(medium) {
        width: 35%;
        margin: 1em 0;
      }
    }
    .sf-logo:nth-child(6) {
      width: 13.6875rem;
      @include breakpoints-down(medium) {
        width: 35%;
        margin: 1em 0;
      }
    }
  }
}
