//Colors
$clr-brand: hsl(212, 41%, 50%);
$clr-brand-bg: hsl(212, 41%, 95%);
$clr-brand-dark: hsl(215, 69%, 23%);
$clr-accent: hsl(36, 100%, 64%);
$clr-accent-bg: hsl(36, 100%, 92%);
$clr-text: hsl(214, 25%, 24%);
$clr-light: hsl(0, 0%, 100%);

//Typography
$ff-heading: 'Montserrat', sans-serif;
$ff-body: 'Open Sans', sans-serif;

$fs-small: 0.875rem; //14px
$fs-medium: 1.125rem; //18px
$fs-large: 1.5rem; //24px
